@import "_fonts";
@import "_mixins";
@import "_variables";
@import "_reset";


body {
    width: 100%;
}

header {
    background: url(../assets/main.png) center;
    background-size: cover;
    position: relative;
    z-index: 1;


    .wrapper {
        background: rgba(35, 35, 35, 0.85);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        z-index: 3;

        .title {
            color: $white;
            border: 1px #adaaaa solid;
            font-size: 55px;
            line-height: 90px;
            text-align: center;
            padding: 45px;
            font-family: "Merriweather", serif;

            span {
                color: $fusion;
            }
        }


        .nav-links {
            margin-top: 30px;
            font-size: 13px;
            font-family: "Open Sans";
            font-weight: 400;



            a {
                outline: none;
                text-decoration: none;
                color: $white;
            }

            a:hover {
                color: $fusion;
                transition: 0.3s;
            }

            a:not(:last-child) {
                margin-right: 10px;
                border-right: 0.1px solid $fusion;
                padding-right: 10px;
            }

        }


        .lower-buttons {
            display: flex;
            flex-direction: row;

            .f-button {
                
                align-self: flex-start;
                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .get-in-touch {
                font-size: 14px;
                line-height: 40px;
                color: $white;
                font-family: "Roboto";
                font-weight: 500;
            }
        }
    }
}


.services {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;


    .services-title {
        font-family: "Open Sans";
        font-weight: 600;
        color: $fusion;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        margin-top: 24px;
    }

    .services-description {
        font-size: 40px;
        line-height: 65px;
        color: $white;
        font-family: "Merriweather";
        text-align: center;
        margin-top: 40px;
    }

    .services-cards {
        display: flex;
        flex-direction: row;
        margin-top: 115px;



        .services-card {
            display: flex;
            flex-direction: column;
            align-items: left;
            width: 225px;

            img {
                width: 21px;
                margin-bottom: 36px;
            }

            .card-title {
                margin-bottom: 24px;
                font-family: "Merriweather";
                color: $white;
                text-align: left;
                font-size: 30px;
                line-height: 65px;
            }

            .card-description {
                font-size: 14px;
                line-height: 27px;
                color: #bbbbbb;
                font-family: "Open Sans";
                font-weight: 400;
                margin-bottom: 32px;
            }

            .card-more {
                font-size: 14px;
                line-height: 28px;
                color: $white;
                font-family: "Open Sans";
                font-weight: 600;
                margin-bottom: 150px;
            }
        }

        .services-card:not(:last-child) {
            margin-right: 165px;
        }
    }

}


.projects{
    background-color: #181818;
    height: 950px;
}
